{
    "appName" : "My App",

    "baseUrl" : "http://myapp.fano",

    "secretKey" : "replace with your own secret key",

    "session" : {
        "name" : "fano_sess",
        "dir" : "/home/zamroni/fun/fanoframework/examples/fano-db-session/storages/sessions/"
    },

    "db" : {
        "version" : "mysql 5.7",
        "host" : "127.0.0.1",
        "port" : 3306,
        "db" : "fano_sess_db",
        "user" : "fano_sess_db",
        "passw" : "fano_sess_db"
    },

    "cookie" : {
        "name" : "fano_sess",
        "domain" : "sessdb.fano",
        "maxAge" : 3600
    }
}